openapi: 3.0.0
info:
  title: Client & Therapist API
  version: "1.0.0"
  description: >
    This API provides endpoints for both Clients and Therapists.
    The Client APIs allow registration, login, therapist search and mapping, messaging, emotion journaling, appointment requests,
    and viewing/approving therapist requests.
    The Therapist APIs allow registration, login, session management (with private and shared notes), client mapping and journal access requests,
    messaging with clients, removal of client mapping, viewing client journals, and keyword searches.
tags:
  - name: Client API
    description: Endpoints used by clients.
  - name: Therapist API
    description: Endpoints used by therapists.
servers:
  - url: http://api.efdg.ai/v1
paths:
  # ============================================================
  # Client Endpoints (tag: Client API)
  # ============================================================
  /client:
    get:
      tags:
        - Client API
      summary: List All Clients
      description: Retrieve a list of all clients.
      responses:
        '200':
          description: List of clients.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Client'
    post:
      tags:
        - Client API
      summary: Register a New Client
      description: Create a new client account using email and password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewClient'
      responses:
        '201':
          description: Client account created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
  /client/{clientId}:
    parameters:
      - name: clientId
        in: path
        required: true
        description: Unique identifier for the client.
        schema:
          type: string
    get:
      tags:
        - Client API
      summary: Get Client Details
      description: Retrieve details of a specific client.
      responses:
        '200':
          description: Client details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
    put:
      tags:
        - Client API
      summary: Update Client Details
      description: Update a client's information.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewClient'
      responses:
        '200':
          description: Client updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
    delete:
      tags:
        - Client API
      summary: Delete Client
      description: Delete a client account.
      responses:
        '204':
          description: Client deleted successfully.
  /client/login:
    post:
      tags:
        - Client API
      summary: Client Login
      description: Client logs in using email and password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
        '401':
          description: Unauthorized. Invalid credentials.
  /client/{clientId}/therapists:
    parameters:
      - name: clientId
        in: path
        required: true
        description: Unique client ID.
        schema:
          type: string
    get:
      tags:
        - Client API
      summary: List Mapped Therapists
      description: Retrieve a list of therapists associated (via mapping or journal access) with the client.
      responses:
        '200':
          description: List of mapped therapists.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Therapist'
    post:
      tags:
        - Client API
      summary: Map a Therapist
      description: Map a therapist to the client's account by providing the therapist's identifier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TherapistMappingRequest'
      responses:
        '200':
          description: Therapist mapped successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Therapist'
  /client/{clientId}/therapists/search:
    parameters:
      - name: clientId
        in: path
        required: true
        description: Client ID.
        schema:
          type: string
      - name: name
        in: query
        required: false
        description: Name of the therapist.
        schema:
          type: string
      - name: speciality
        in: query
        required: false
        description: Specialty of the therapist.
        schema:
          type: string
    get:
      tags:
        - Client API
      summary: Search Available Therapists
      description: Search for therapists by name or speciality.
      responses:
        '200':
          description: List of matching therapists.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Therapist'
  /client/{clientId}/therapists/{therapistId}/journal-access:
    parameters:
      - name: clientId
        in: path
        required: true
        description: Client ID.
        schema:
          type: string
      - name: therapistId
        in: path
        required: true
        description: Therapist ID.
        schema:
          type: string
    delete:
      tags:
        - Client API
      summary: Remove Therapist Journal Access
      description: Remove a therapist's access to all client journals (emotion records) without removing the mapping.
      responses:
        '204':
          description: Journal access removed.
        '404':
          description: Client or Therapist not found.
  /client/{clientId}/therapists/{therapistId}/access-request:
    parameters:
      - name: clientId
        in: path
        required: true
        description: Client ID.
        schema:
          type: string
      - name: therapistId
        in: path
        required: true
        description: Therapist ID.
        schema:
          type: string
    patch:
      tags:
        - Client API
      summary: Approve/Reject Journal Access Request
      description: Client approves or rejects a therapist’s request for journal access.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum: [approve, reject]
                  description: Action to apply.
              required:
                - action
      responses:
        '200':
          description: Request updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
        '404':
          description: Request not found.
  /client/{clientId}/mapping-requests:
    parameters:
      - name: clientId
        in: path
        required: true
        description: Client ID.
        schema:
          type: string
    get:
      tags:
        - Client API
      summary: Get Therapist Mapping Requests
      description: Retrieve pending therapist-initiated mapping requests.
      responses:
        '200':
          description: List of mapping requests.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TherapistRequest'
  /client/{clientId}/journal-access-requests:
    parameters:
      - name: clientId
        in: path
        required: true
        description: Client ID.
        schema:
          type: string
    get:
      tags:
        - Client API
      summary: Get Journal Access Requests
      description: Retrieve pending therapist-initiated journal access requests.
      responses:
        '200':
          description: List of journal access requests.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TherapistRequest'
  /client/{clientId}/therapists/{therapistId}/messages:
    parameters:
      - name: clientId
        in: path
        required: true
        description: Client ID.
        schema:
          type: string
      - name: therapistId
        in: path
        required: true
        description: Therapist ID.
        schema:
          type: string
    get:
      tags:
        - Client API
      summary: Get Message History
      description: Retrieve conversation between client and therapist.
      responses:
        '200':
          description: List of messages.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'
    post:
      tags:
        - Client API
      summary: Send a Message
      description: Send a message from client to therapist.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
      responses:
        '201':
          description: Message sent successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /client/{clientId}/emotions:
    parameters:
      - name: clientId
        in: path
        required: true
        description: Client ID.
        schema:
          type: string
    post:
      tags:
        - Client API
      summary: Add Emotion Record
      description: Record an emotion with time, feeling, and intensity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Emotion'
      responses:
        '201':
          description: Emotion recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Emotion'
  /client/{clientId}/appointments:
    parameters:
      - name: clientId
        in: path
        required: true
        description: Client ID.
        schema:
          type: string
    post:
      tags:
        - Client API
      summary: Request an Appointment
      description: Request an appointment in an available session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentRequest'
      responses:
        '201':
          description: Appointment requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
  /client/{clientId}/search:
    parameters:
      - name: clientId
        in: path
        required: true
        description: Client ID.
        schema:
          type: string
      - name: q
        in: query
        required: true
        description: Keyword to search across therapist notes and client journals.
        schema:
          type: string
    get:
      tags:
        - Client API
      summary: Keyword Search (Client)
      description: Run a keyword search across therapist notes and client journals.
      responses:
        '200':
          description: Search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      description: A summary of a matching record.
  # ============================================================
  # Therapist Endpoints (tag: Therapist API)
  # ============================================================
  /therapist:
    get:
      tags:
        - Therapist API
      summary: List All Therapists
      description: Retrieve a list of all therapists.
      responses:
        '200':
          description: List of therapists.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Therapist'
    post:
      tags:
        - Therapist API
      summary: Register a New Therapist
      description: Create a new therapist account using email and password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewTherapist'
      responses:
        '201':
          description: Therapist account created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Therapist'
  /therapist/{therapistId}:
    parameters:
      - name: therapistId
        in: path
        required: true
        description: Unique identifier for the therapist.
        schema:
          type: string
    get:
      tags:
        - Therapist API
      summary: Get Therapist Details
      description: Retrieve therapist details.
      responses:
        '200':
          description: Therapist details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Therapist'
    put:
      tags:
        - Therapist API
      summary: Update Therapist Details
      description: Update therapist information.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewTherapist'
      responses:
        '200':
          description: Therapist updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Therapist'
    delete:
      tags:
        - Therapist API
      summary: Delete Therapist
      description: Delete a therapist account.
      responses:
        '204':
          description: Therapist deleted successfully.
  /therapist/login:
    post:
      tags:
        - Therapist API
      summary: Therapist Login
      description: Therapist logs in using email and password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
        '401':
          description: Unauthorized. Invalid credentials.
  /therapist/{therapistId}/sessions:
    parameters:
      - name: therapistId
        in: path
        required: true
        description: Therapist ID.
        schema:
          type: string
    get:
      tags:
        - Therapist API
      summary: List All Sessions
      description: Retrieve all sessions created by the therapist.
      responses:
        '200':
          description: List of sessions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Session'
    post:
      tags:
        - Therapist API
      summary: Create a New Session
      description: Create a new session with private and shared notes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSession'
      responses:
        '201':
          description: Session created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
  /therapist/{therapistId}/sessions/{sessionId}:
    parameters:
      - name: therapistId
        in: path
        required: true
        description: Therapist ID.
        schema:
          type: string
      - name: sessionId
        in: path
        required: true
        description: Session ID.
        schema:
          type: string
    get:
      tags:
        - Therapist API
      summary: Get Session Details
      description: Retrieve details of a specific session.
      responses:
        '200':
          description: Session details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
    put:
      tags:
        - Therapist API
      summary: Modify Session Details
      description: Update an existing session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSession'
      responses:
        '200':
          description: Session updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
                
    delete:
      tags:
        - Therapist API
      summary: Delete Session
      description: Delete an existing therapy session and its associated notes.
      parameters:
        - name: therapistId
          in: path
          required: true
          description: Therapist ID.
          schema:
            type: string
        - name: sessionId
          in: path
          required: true
          description: Session ID to delete.
          schema:
            type: string
      responses:
        '204':
          description: Session deleted successfully.
        '404':
          description: Session not found.
  /therapist/{therapistId}/sessions/{sessionId}/notes:
    parameters:
      - name: therapistId
        in: path
        required: true
        description: Therapist ID.
        schema:
          type: string
      - name: sessionId
        in: path
        required: true
        description: Session ID.
        schema:
          type: string
    post:
      tags:
        - Therapist API
      summary: Post a Note on a Session
      description: Add a new note to an existing session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
      responses:
        '201':
          description: Note added successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
  /therapist/{therapistId}/clients:
    parameters:
      - name: therapistId
        in: path
        required: true
        description: Therapist ID.
        schema:
          type: string
    get:
      tags:
        - Therapist API
      summary: Get Related Clients
      description: >
        View a list of clients who have requested/taken a session, messaged,
        or are related to the therapist by mapping or journal access.
      responses:
        '200':
          description: List of related clients.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientSummary'
  /therapist/{therapistId}/clients/mapping-requests/{clientId}:
    parameters:
      - name: therapistId
        in: path
        required: true
        description: Therapist ID.
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        description: Client ID for mapping.
        schema:
          type: string
    post:
      tags:
        - Therapist API
      summary: Request Client Mapping for Therapy
      description: Request that a client be mapped for therapy (journal access off by default).
      responses:
        '200':
          description: Mapping request sent successfully.
  /therapist/{therapistId}/clients/journal-access-requests/{clientId}:
    parameters:
      - name: therapistId
        in: path
        required: true
        description: Therapist ID.
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        description: Client ID for journal access.
        schema:
          type: string
    post:
      tags:
        - Therapist API
      summary: Request Client Journal Access
      description: Request journal access for a client.
      responses:
        '200':
          description: Journal access request sent successfully.
  /therapist/{therapistId}/clients/{clientId}/messages:
    parameters:
      - name: therapistId
        in: path
        required: true
        description: Therapist ID.
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        description: Client ID.
        schema:
          type: string
    get:
      tags:
        - Therapist API
      summary: Get Message History
      description: Retrieve conversation between therapist and client.
      responses:
        '200':
          description: List of messages.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'
    post:
      tags:
        - Therapist API
      summary: Send a Message to Client
      description: Send a message from therapist to client.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
      responses:
        '201':
          description: Message sent successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /therapist/{therapistId}/clients/mappings/{clientId}:
    parameters:
      - name: therapistId
        in: path
        required: true
        description: Therapist ID.
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        description: Client ID whose mapping is to be removed.
        schema:
          type: string
    delete:
      tags:
        - Therapist API
      summary: Remove Client Mapping
      description: Remove a client mapping (journal access is turned off automatically).
      responses:
        '204':
          description: Client mapping removed successfully.
        '404':
          description: Client or Therapist not found.
  /therapist/{therapistId}/clients/{clientId}/journals:
    parameters:
      - name: therapistId
        in: path
        required: true
        description: Therapist ID.
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        description: Client ID.
        schema:
          type: string
    get:
      tags:
        - Therapist API
      summary: View Client Journals
      description: Retrieve the journals of a client.
      responses:
        '200':
          description: List of client journals.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: >
                    Journal entry summary.
  /therapist/{therapistId}/search:
    parameters:
      - name: therapistId
        in: path
        required: true
        description: Therapist ID.
        schema:
          type: string
      - name: q
        in: query
        required: true
        description: Keyword to search across clients, session notes, and emotion journals.
        schema:
          type: string
    get:
      tags:
        - Therapist API
      summary: Keyword Search (Therapist)
      description: Run a keyword search across session notes and emotion journals.
      responses:
        '200':
          description: Search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      description: Matching records.
#not all the schemas used(e.g AuthToken or the other DTOs in this will be used in db, we can make further changes to the core ones too)
components:
  schemas:
    Client:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the client.
          minLength: 1
        name:
          type: string
          minLength: 1
        email:
          type: string
          format: email
          pattern: "^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$"
        phone:
          type: string
          pattern: "^[0-9\\-\\+\\s]{7,20}$"
      required:
        - id
        - name
        - email
    NewClient:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        email:
          type: string
          format: email
          pattern: "^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$"
        password:
          type: string
          minLength: 8
        phone:
          type: string
          pattern: "^[0-9\\-\\+\\s]{7,20}$"
      required:
        - name
        - email
        - password
    Therapist:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the therapist.
          minLength: 1
        name:
          type: string
          minLength: 1
        email:
          type: string
          format: email
          pattern: "^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$"
        speciality:
          type: string
          minLength: 1
      required:
        - id
        - name
        - email
        - speciality
    NewTherapist:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        email:
          type: string
          format: email
          pattern: "^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$"
        password:
          type: string
          minLength: 8
        speciality:
          type: string
          minLength: 1
      required:
        - name
        - email
        - password
        - speciality
    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          pattern: "^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$"
        password:
          type: string
          minLength: 6
      required:
        - email
        - password
    AuthToken:
      type: object
      properties:
        token:
          type: string
          description: JWT token for authenticated sessions.
          minLength: 1
    TherapistMappingRequest:
      type: object
      description: Request payload to map a therapist to a client account.
      properties:
        therapistId:
          type: string
          description: Unique therapist identifier.
          minLength: 1
      required:
        - therapistId
    Message:
      type: object
      properties:
        id:
          type: string
          description: Unique message identifier.
          minLength: 1
        from:
          type: string
          description: Sender's ID (client or therapist).
          minLength: 1
        to:
          type: string
          description: Receiver's ID.
          minLength: 1
        content:
          type: string
          minLength: 1
        timestamp:
          type: string
          format: date-time
      required:
        - from
        - to
        - content
    Emotion:
      type: object
      properties:
        id:
          type: string
          minLength: 1
        timestamp:
          type: string
          format: date-time
        feeling:
          type: string
          enum: [happiness, caring, depression, inadequate, fear, confusion, hurt, anger, loneliness, remorse]
          description: The emotion felt.
        intensity:
          type: string
          enum: [strong, medium, light]
          description: The intensity of the emotion.
      required:
        - timestamp
        - feeling
        - intensity
    AppointmentRequest:
      type: object
      properties:
        therapistId:
          type: string
          description: Selected therapist for the appointment.
          minLength: 1
        sessionId:
          type: string
          description: Identifier for the available session.
          minLength: 1
        preferredTime:
          type: string
          format: date-time
      required:
        - therapistId
        - sessionId
        - preferredTime
    Appointment:
      type: object
      properties:
        appointmentId:
          type: string
          minLength: 1
        therapistId:
          type: string
          minLength: 1
        clientId:
          type: string
          minLength: 1
        sessionId:
          type: string
          minLength: 1
        scheduledTime:
          type: string
          format: date-time
        status:
          type: string
          description: Appointment status (pending, confirmed, etc.).
          minLength: 1
      required:
        - appointmentId
        - therapistId
        - clientId
        - sessionId
        - scheduledTime
        - status
    Session:
      type: object
      properties:
        id:
          type: string
          description: Unique session identifier.
          minLength: 1
        title:
          type: string
          minLength: 1
        description:
          type: string
        notes:
          type: array
          items:
            $ref: '#/components/schemas/Note'
      required:
        - id
        - title
    NewSession:
      type: object
      properties:
        title:
          type: string
          minLength: 1
        description:
          type: string
        notes:
          type: array
          items:
            $ref: '#/components/schemas/Note'
      required:
        - title
    Note:
      type: object
      properties:
        title:
          type: string
          minLength: 1
        content:
          type: string
          minLength: 1
        access:
          type: string
          description: Specifies if the note is private (therapist-only) or shared with the client.
          enum: [private, shared]
      required:
        - title
        - content
        - access
    TherapistRequest:
      type: object
      properties:
        therapistId:
          type: string
          description: ID of the therapist making the request.
          minLength: 1
        therapistName:
          type: string
          description: Name of the therapist.
          minLength: 1
        requestType:
          type: string
          enum: [mapping, journal-access]
          description: Type of request.
        status:
          type: string
          enum: [pending, approved, rejected]
          description: Request status.
        timestamp:
          type: string
          format: date-time
      required:
        - therapistId
        - requestType
        - status
        - timestamp
    ClientSummary:
      type: object
      properties:
        id:
          type: string
          description: Client ID.
          minLength: 1
        name:
          type: string
          minLength: 1
        email:
          type: string
          format: email
          pattern: "^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$"
      required:
        - id
        - name
        - email
